h1 {
    color: rgb(255, 251, 252);
}
.header {
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.footer {
    display: flex;
    justify-content:center;
    margin-top:360px;
}
p,h2 {
    text-align: center;
}
a:link {
    color:white;
}
a:visited {
    color:white;
}
.menu {
    margin-right: 30px;
   
}
.menu a {
    margin-left:20px;
}
.item {
    position: relative;

}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}
body {
    background-color: #292828;
}
.AboutH {
    background-color: crimson;
    display: flex;
    justify-content: center;
}
.AboutP {
    background-color: lightcoral;
    display: flex;
    margin-top: 300px;
    justify-content: center;
}
.AboutG {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}
.Contacts {
    background-color: lightseagreen;
    display: flex;
    justify-content:left;
    margin-top: 310px;
}
.ConstactsM {
    display: flex;
    justify-content: right;
    margin-left: 690px;
}
